{% extends "YBWEB/dashboard.html" %}

{% load staticfiles %}
{% load i18n %}
{% load includeJSX %}
{% load YBtools %}

{% block main %}
{% if idplan == "2" %}
    <div> Hola mundo</div>
{% endif %}
{{ idplan }}
{{ idcompany }}
 <div class="loginPanel soporte">
        <div class="loginPanelHeader">
            <div class="logError">{{error}}</div>
            <img src="{% static 'dist/img/logo/logo.png' %}" alt="logo" className="logo" style="margin-left:15%"></img>
        </div>

        <div class="loginPanelBody">
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="cambioPlan">
                <div class="form-group label-floating planes">
                    <label class="control-label" for="focusedInput1">Elige un plan:</label>
                    <select class="loginInput form-control" id="planes" name="planes">
                            <option value="Junior">Junior</option>
                            <option value="Profesional">Profesional</option>
                            <option value="Senior">Senior</option>
                            <option value="Optimizado">Optimizado</option>
                    </select>
                </div>
                <div class="form-group label-floating modalidad" id="modalidadDiv">
                    <label class="control-label" for="focusedInput1">Modalidad:</label>
                    <select class="loginInput form-control" id="modalidad"  name="modalidad">
                            <option value="anual">Anual</option>
                            <option value="mensual">Mensual</option>
                    </select>
                    
                </div>
                <div class="form-group label-floating">
                </div>
                <div class="form-group label-floating" id="cantidadUsuariosDiv">
                    <label class="control-label" for="focusedInput1">Cantidad Usuarios:</label>
                    <input type="number" id="cantidadUsuarios" min="1" name="cantidadUsuarios" value="1">
                    <!-- <div>Cuota mensual 10€</div> -->
                </div>
                <!-- <div class="form-group label-floating">
                    <a href="http://dailyjob.io/precios.html" target="_blank">Ver contenido y precio de los planes</a>
                </div> -->
                <div class="loginPanelFooter crearNewCompany">
                    <button name="loginSubmit" href="javascript:void(0)" class="btn btn-flat btn-primary loginButton botonNewCompany">Cambiar plan</button>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}
{% block endjs %}
{% endblock %}