html, #parent-container{
    background-color: #fff;
    min-height: 100vh;
}
.YBTableHeaderRow{
    background-color: #fff;
    background-image: none;
    border-bottom: 2px solid #ccc;
}

.btn-info {
    background-color: #2D95C1!important;
}

.YBButtonSecondary.YBButtonRaised {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: #2d95c1;
    border: 1px solid #2d95c1;
    color: #fff;
}

.YBButtonSecondary.YBButtonFlat {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: white;
    border: 1px solid #2D95C1;
    color: #2D95C1;

}.YBButtonPrimary.YBButtonRaised {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: #47B7D8;
    border: 1px solid #47B7D8;
    color: white;
}

.YBButtonSecondary.YBButtonRaised:hover {
    background-color: #2d95c1;
    opacity: 0.3;
}

.YBButtonPrimary.YBButtonRaised:hover {
    opacity: 0.8;
}


.gbTareasLeft {
    width: 50%;
    position: relative;
    float: left;
}

.gbTareasRight {
    width: 50%;
    position: relative;
    float: left;
}

/*.YBSiderBarItems {
    
    
}*/

.YBSideBar-White{
     box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.23);
     background-image: linear-gradient(110deg, #50d2ce, #293333);
}

.YBSideBarTitle{
    background-color: #ffffff;
}

.YBSidebarItemTextText{
    margin-top: 5px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.YBSideBarItemLink{
    font-family: Rubik;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #ffffff;
    //text-transform: capitalize;
    margin-left: 17px;
    white-space: nowrap;
}

.YBSideBarItemLink:hover{
    color: white;
}
.controlTiempoButton > .YBButtonRaised{
    background-color: orange;
    border-radius: 5px;
    border: 0px;
    font-weight: bold;
    position: relative;
    padding: 5px 10px;
    margin: 10px 1px;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    min-height: 32px;
    max-height: 32px;
}

.controlTiempoLabel {
    width: 50px;
    height: 18px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: none;
    color: var(--white);
}


@media (min-width: 1445px) {
 /* .navbar-header-center {
      position: relative;
      float: left;
      margin: 20px 20px 0px 20px;
      font-size: 17px;
      width: 62% !important;
      text-transform: uppercase;
      font-weight: bold;
    }*/
}

@media (max-width: 1005px) {
   /* .navbar-header-center {
      position: relative;
      float: left;
      margin: 20px 20px 0px 20px;
      font-size: 17px;
      width: 30% !important;
      text-transform: uppercase;
      font-weight: bold;
    }*/
}
.navbar-header-center {
    position: relative;
    float: none !important;
    width: 66.66% !important;
    margin-left: auto;
    margin-right: auto;
    /* margin: 20px 20px 0px 20px; */
    font-size: 17px;
    /* width: 62% !important; */
    text-transform: uppercase;
    font-weight: bold;
}

@media (min-width: 769px) {
    .navbar-header-right{
      margin-top: -2px;
    }

}
.appInfo {
    background-color: #f9a825 !important;
    height: 32px;
}

.appInfo .YBTableOverGrid  {
    margin-top: -7px;
    text-align: center !important;
    position: relative;
    display: inline-flex;
    vertical-align: middle !important;
    align-items: center !important;
    justify-content: center;
    color :white; 
}

/*Tarea activa*/

 .appInfo .YBTableCell {
        width:auto !important; 
        border: none; 
    }
/*@media (min-width: 1024px) {
    .appInfo .YBTableCell {
        width: 950px !important; 
        border: none; 
    }

    .appInfo .YBTableActionsCell {
        width: 50px !important; 
        text-align: center !important; 
        border: none; 
    }

}

@media (max-width: 768px) {
    .appInfo .YBTableCell {
        width: 700px !important; 
        border: none; 
    }

    .appInfo .YBTableActionsCell {
        width: 50px !important; 
        text-align: center !important; 
        border: none; 
    }

}

@media (max-width: 425px) {
    .appInfo .YBTableCell {
        width: 300px !important; 
        border: none; 
    }

    .appInfo .YBTableActionsCell {
        width: 30px !important; 
        text-align: center !important; 
        border: none; 
    }

}*/

.appInfo .YBTableCell i{
    margin-top: -3px;
}

.YBTableCell {
    border-bottom: 0px solid !important;  
    text-overflow: ellipsis !important;
}

.anotarButton{
    width: 200px;
    height: 10px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: none;
    color: var(--white);
}

.anotarButton .YBButtonPrimary.YBButtonRaised{
    width: 149px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #89e3dc, #4abed8);
    background-color: initial !important;
    border: none !important;
}

.anotarButtonLabel {
    margin-top: 5px !important;
}

.modal_anotarButton {
    text-align: left;
}

.modalHeader .material-icons.closeM{
    position: absolute;
    right: 10px;
}

.modalHeader {
    display:flex;
    justify-content: center;
}

.modalCuerpo .modal_nuevoTramoFecha{
    margin-left: 0% !important;
    background-color: #f1f1f1 !important;
}

.modal_nuevoTramoFecha .{
    margin-left: 0% !important;
    background-color: #f1f1f1 !important;
}

.modal_actNuevoPartic {
    background-color: #f1f1f1 !important;
}

.modalCuerpo .gbform{
    background-color: #f1f1f1 !important;
}

.modalCuerpo .modal_actionEmail {
    background-color: #f1f1f1 !important;
}

.modal_nuevaInvitacion {
    background-color: #f1f1f1 !important;
}

.modalTitle{
    margin-top: 20px;
    font-size: 18px;
}

.modalScrool {
    min-width: 350px;
}

.modal_actNuevoPartic hr{
    display: none;
}

.modal_actNuevoPartic .YBCheckSuggestions {
    text-align: left;
}

.modal_actInvitarExterno {
     background-color: #f1f1f1 !important;
}

/*.modalBody{
    text-align: center;
}*/

.modalPie .YBButtonRaised{
    width: 176px;
    height: 40px;
    border-radius: 5px;
    background-color: #50d2ce;
    border: none !important;
    margin-right: 0px !important;
}

.modalPie{
    text-align: center;
}

.modalPie .YBButtonRaised .YBButtonLabel{
    margin-left: 20%;
}

a.btn-primary {
    color: #fff !important;
    background-color: #50d2ce !important;
    border-radius: 5px;
    margin-right: 10px;
    //border: 1px solid #2d95c1;
    width: 176px;
}

a.btn-primary:hover {
    background-color: rgba(80, 210, 206, 0.3) !important;
}

.modalPie .YBButtonRaised:hover {
    background-color: rgba(80, 210, 206, 0.8) !important;
}

.modalContent.modalScrool {
    width: auto;
    height: auto;
    max-width: 648px;
    //max-height: 368px;
    border-radius: 16px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.32);
    background-color: #f1f1f1;
}

/*.naranja span {
    padding: 5px 21px 5px 19px;
    border-radius: 17.5px;
    background-color: #ffc68d;
    text-transform: lowercase;
}

.lila span{
    padding: 5px 15px 5px 15px;
    border-radius: 17.5px;
    background-color: #d0cdf4;
    text-transform: lowercase;
}

.verde span {
    padding: 5px 31px 5px 32px;
    border-radius: 17.5px;
    background-color: #9decac;    
    text-transform: lowercase;
}

.amarillo span {
    padding: 5px 21px 5px 19px;
    border-radius: 17.5px;
    background-color: #faeb8c;
    text-transform: lowercase;
}*/
.naranja {
    text-align: center !important;
    border-radius: 17.5px;
    background-color: #ffc68d;
    text-transform: lowercase;
}

.lila {
    text-align: center !important;
    border-radius: 17.5px;
    background-color: #d0cdf4;
    text-transform: lowercase;
}

.verde {
    text-align: center !important;
    border-radius: 17.5px;
    background-color: #9decac;    
    text-transform: lowercase;
}

.amarillo {
    text-align: center !important;
    border-radius: 17.5px;
    background-color: #faeb8c;
    text-transform: lowercase;
}

.rojo {
    text-align: center !important;
    border-radius: 17.5px;
    background-color: #cc2916;
    text-transform: lowercase;
}

.responsable {
    text-align:center !important;
    /*margin-top: 5px;
    height: 70%;*/
    color: black;
    border-radius: 17.5px;
    background-color: #DCDCDC;
}

/*.responsable span {
    position: relative;
    top: -5px;
}
*/
/*.usuario span {
    position: relative;
    top: -5px;
}

.usuarioAqn span {
    position: relative;
    top: -5px;
}*/

.usuarioAqn {
    text-align:center !important;
    //margin-top: 5px;
    max-width: 200px !important;
    //height: 70%;
    color: black;
    border-radius: 17.5px;
    background-color: #DCDCDC;
}

.usuario {
    text-align:center !important;
    //margin-top: 5px;
    //height: 70%;
    color: black;
    border-radius: 17.5px;
    background-color: #DCDCDC;
}
 
.naranja {
    margin-top: -4px;
}

.verde {
    margin-top: -4px;
}

.lila {
    margin-top: -4px;
}

.amarillo {
    margin-top: -4px;
}

.alert.alert-success {
    border-radius: 8px;
    box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: #f9a825 !important;
    color: rgba(255,255,255, 0.84) !important;
   /* position:absolute !important; 
    bottom: 0;
    margin-left: -505px;*/
    width: auto !important;
    text-align: center;
}

.toaster{
    bottom: 0 !important;
    margin: auto;
      right: 0;
      left: 0;
    width: 300px !important;
}

@media (min-width: 1445px) {
  /*.navbar-header-center {
      position: relative;
      float: left;
      margin: 20px 20px 0px 20px;
      font-size: 17px;
      width: 62% !important;
      text-transform: uppercase;
      font-weight: bold;
    }*/
}

@media (max-width: 1303px) {
 /* .controlTiempoButton {
    float: right;
    margin-top: -7px;
  }*/
  .YBNavBarActions i .material-icons {
    float: right;
  }
  /*.YBNavBar-title {
    width: 53% !important;
   }*/
   /*.toaster{
        left: 42% !important;
    }*/
}
@media (max-width: 1302px) {
  /*.navbar-header-center {
    width: 55%;
  }*/
  /*.navbar-header-center .YBNavBarActions {
    margin: -20px 20% 0px 20px;
    }*/
/*  .controlTiempoButton {
    float: right;
    margin-top: -7px;
  }*/
  .YBNavBarActions i .material-icons {
    float: right;
  }

 /* .YBNavBar-title {
    margin: 20px 20px 0px 7% !important;
  }*/
}

@media (min-width: 1405px) {
   /* .navbar-header-center {
      position: relative;
      float: left;
      margin: 20px 20px 0px 20px;
      font-size: 17px;
      width: 62% !important;
      text-transform: uppercase;
      font-weight: bold;
    }*/
}

@media (max-width: 768px) {
  .controlTiempoButton {
    float: right;
    margin-top: -7.54px;
  }
  .controlTiempoButton > .YBButtonRaised{
    margin-top: 10px;
    background-color: orange;
    width: 33px;
    height: 35px;
    border-radius: 50%;
    }
    .YBButonIconResponsive {
        margin-left: -5px;
    }
    .YBNavBarActions i .material-icons {
        float: right;
    }
   /*.toaster{
        left: 37% !important;
    }*/
}
/*
@media (max-width: 320px) {
    .toaster{
        left: 20% !important;
    }
}

@media (max-width: 375px) {
    .toaster{
        left: 25% !important;
    }
}

@media (max-width: 425px) {
    .toaster{
        left: 29% !important;
    }
}*/
/*.comentariosGrid {
    min-height: 710px;
    max-height: : 710px;
    overflow: auto;
}

.navbar-dashboard-img{
    margin-top:0;
    margin-left: 15px;
}

#YBSideBar{
    display: block !important;
    border-right: 2px solid #ccc;
}
#YBSideBarBlank{
    display: none !important;
}
#componentContainer{
    margin-left: 215px;
}
.YBSideBarTitle{
    border-bottom: none;
}*/

.YBTableActionsCell[title=TimeTracking] {
    margin-top: -3px;
    color: #50d2ce;
}


.YBCalendarFilters {
   /* width: 66.66%;
    position: relative;
    margin-right: auto;
    margin-left: auto;*/
    /* float: left; 
    text-align: center;*/
    display: flex;
    align-items: stretch;
}

.YBMonthFilterButtons {
  margin-left: 0px !important;
  width: 100% !important;
}

.YBCalendarFiltersMonth {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 25px;
    //float: right;
}

.YBMonthFilterButtons {
    /* margin-left: 0px !important; */
    /* width: 100% !important; */
    width: 66.66% !important;
    display: flex;
    margin-left: auto !important;
    margin-right: auto;
    justify-content: center;
    float: none !important;
}

.YBCalendarFilterForm {
    //margin-top: 35px !important;
}

.YBCalendarFiltersWeeks {
    width: 35%;
    position: absolute;
    margin-top: 5px;
    margin-left: 2%;
    //float: right;
}

.YBCalendarDayCellDate {
    margin-right: 0px !important;
    padding-bottom: 5px;
}

.YBCalendarDayCurrentCellDate {
    color: #50d2ce;
    background-color: rgba(80, 210, 206, 0.1);
    //padding:0.8px;
    //border-radius: 50%;
}

.YBCalendarDayWeekFormat {
    min-height: 248px !important; 
}

.YBNavBar-title {
    margin: 10px auto !important;
}

/*.masterTareas a {
    color: #293333 !important;
    text-decoration: none !important;
}*/

.YBTableCell a, a:hover, a:focus {
    color: #293333;
    text-decoration: none !important;
}

.sideBar a {
    text-decoration: none !important;
}

.fcSuccessMango {
    background-color: #f9a825;
    border-radius: 17.5px;
    color: white !important;
}

/*.fcSuccessMango span { 
    position: relative;
    top: -5px;
}*/

/*.YBTableActionsCell[title=Completar] i{
    //color: #bababa !important;
    font-size: 20px !important;
}*/

/*.masterTareas .YBTableRow {
    margin-bottom: 10px;
}

.masterProyectos .YBTableRow {
    margin-bottom: 10px;
}

.masterTimeTracking .YBTableRow {
    margin-bottom: 10px;
}

.masterUsuarios .YBTableRow {
    margin-bottom: 10px;
}

.controldiario .YBTableRow {
    margin-bottom: 10px;
}

.controlmensual .YBTableRow {
    margin-bottom: 10px;
}
*/

.controlmensual .YBTableRow, .queryGrid_notificacionesUsuario .YBTableRow, .queryGrid_notificacionesUsuarioViejas .YBTableRow, .controldiario .YBTableRow, .masterUsuarios .YBTableRow, .masterTimeTracking .YBTableRow, .masterProyectos .YBTableRow, .masterTareas .YBTableRow {
    margin-bottom: 10px;   
}

.is-empty {
    text-align: left;
}

/*.masterTareas {
    background-color: #f4f6f8;
}*/

/*.masterTareas .YBTableOverGrid {
    border-radius: 16px;
    box-shadow: 0 10px 15px 0 rgba(41, 51, 51, 0.15);
    background-color: #ffffff;
}*/

.tareaActiva .YBTableActionsCell[title=Timetracking] {
    margin-right: 10px;
}

.tareaActiva .YBTableCell {
    margin-top: -4px;
}


.navbar-header-center .YBNavBarActions {
    /* margin: -20px 30% 0px 20px; */
    float: none !important;
    width: 66.66% !important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.YBD3Info {
    margin-top: 50px;
    text-align: left;
    color: #2D95C1;
    font-size: 17px;
    font-weight: bold;    
}

.YBLabel {
    margin-top: 50px;
    text-align: left;
    color: #2D95C1;
    font-size: 17px;
    font-weight: bold;   
}

.YBD3ProgressBar {
    overflow: hidden;
    position: relative;
    float: left;
    width: 100%;
}

.YBD3ChartColorInfo {
    //width: 50%;
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
}

.YBD3ProgressBarPie {
    overflow: hidden;
    position: relative;
    float: left;
    width: 100%;
}

.YBD3ProgressBarDonut {
    overflow: hidden;
    position: relative;
    float: left;
    width: 50%;
}

@media (min-width: 769px) {
    .navbar-user {
        position: absolute !important;
        top: 10px;
        right: 0;
    }
}

.navbar-dashboard-img {
    margin-bottom: 10px;
}

/*Colores, fondo, border-radius y sombreado para pantallas de listados*/

#componentContainer {
    margin: 25px;
}

.parentgroupbox {
    border-radius: 16px;
    box-shadow: 0 10px 15px 0 rgba(41, 51, 51, 0.15);
    background-color: #ffffff;
}

.YBGridOverHeader {
    margin-right: 15px;
}

.YBGridElement {
    margin: 5px;
}

#parent-container {
    background-color: #f4f6f8 !important;
}

/*Alineado para cuadrar con: Colores, fondo, border-radius y sombreado para pantallas de listados*/

.YBSeparatorItem {
    width: 98%;
}

.YBComponentInfoIcon {
    margin-left: 17px;
    margin-right: -15px;
}

.YBComponentInfo .YBComponentInfoText {
     margin-left: 15px !important;
}

/*centrar botón anotar y cambio diseño*/

.navbar-header-center .YBButtonRaised {
    margin-right: 0px !important;
}

.anotarButton .YBButtonRaised>img {
    float: left;
    margin-left: 20px;
}

.anotarButton .YBButtonRaised {
    border-radius: 5px;
    border: 0px;
    font-weight: bold;
    position: relative;
    padding: 5px 10px;
    margin: 10px 1px;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    min-height: 32px;
    max-height: 32px;
}

/*Diseño modal anotar*/

.creaAnotacionButton {
    display: block;
    margin-left: auto;
    //text-transform: unset;
    margin-right: auto !important;
    width: 210px !important;
}

.modalBody .modalPie .anotacionToTareaButton {
    display: block;
    color: black !important;
    background-color: #f1f1f1 !important;
    text-transform: unset;
    margin-left: auto;
    margin-right: auto !important;
    width: auto;
}

.is-empty hr {
    border: none !important;
}

/*Diseño de bandeja de entrada*/

.modal_transpasarAnotacion hr{
    display: none;
}

.queryGrid_notificacionesUsuario .YBTableRow img, .queryGrid_notificacionesUsuarioViejas .YBTableRow img {
    width: 35px !important;
    height: 35px !important;
    margin-top: -9px !important;
    margin-left: 2px;
}

.YBTableRow i{
    margin-top: -4px !important;
}

.naranjaAnotar img {
    background-color: #ffc68d;
    padding: 5px;
    border-radius: 50%;
}

.lilaAnotar img {
    background-color: #d0cdf4;
    padding: 5px;
    border-radius: 50%;
}

.verdeAnotar img {
    background-color: #9decac;
    padding: 5px;
    border-radius: 50%;    
}

.amarilloAnotar img {
    background-color: #faeb8c;
    padding: 5px;
    border-radius: 50%;
}

.rojoAnotar img {
    background-color: #cc2916;
    padding: 5px;
    border-radius: 50%;
}

.verdeazulAnotar img {
    background-color: #42adaa;
    padding: 5px;
    border-radius: 50%;
}

.marronAnotar img {
    background-color: #8f3f2b;
    padding: 5px;
    border-radius: 50%;
}

.aquaAnotar img {
    background-color: #50d2ce;
    padding: 5px;
    border-radius: 50%;
}

/*Vista móvil bandeja de entrada*/

.queryGrid_notificacionesUsuario .YBListItemAvatar, .queryGrid_notificacionesUsuarioViejas .YBListItemAvatar {
    padding-left: 0px;
}

.queryGrid_notificacionesUsuario .YBListItemSecondaryAction, .queryGrid_notificacionesUsuarioViejas .YBListItemSecondaryAction {
    width: auto !important;
    margin-right: -5px;
}

/*modal anotaciones*/

.modalHeaderAnotaciones {
    justify-content: left;
}

.anotacionNombre,.anotacionDescripcion {
    font-weight: bold;
    font-size: 16px;
}

.anotacionNombreOtros,.anotacionDescripcionTipobjeto {
    font-weight: normal;
    font-size: 14px;
}

/*Permiso denegado*/

.YBButtonIcon[title=Denegado] .material-icons {
    font-size: 70px;
    float: none;
}

.DenegadoTitulo {
    width: 100%;
}

.DenegadoTitulo .YBLabelTitle {
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.DenegadoTitulo .YBLabelText {
    width: 100%;
    color: black;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    margin-bottom: 60px;
}